In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plot
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_excel('Grade_data.xlsx')

In [3]:
df

       mid   Q1    Q2   HW1    HW2    end  Final Grade Grade
0     90.0  100  40.0  70.0  42.86  93.75        86.56     A
1    100.0  100  65.0  85.0  57.14  73.75        86.31     A
2     92.5  100  60.0  80.0  42.86  83.75        85.56     A
3     97.5  100  40.0  85.0  76.19  70.00        83.75     A
4     70.0   95  75.0  85.0  38.09  95.00        80.75     A
..     ...  ...   ...   ...    ...    ...          ...   ...
158   10.0   85  67.5  20.0   4.05   0.00         9.63     F
159    0.0    0  57.5  60.0  33.33   0.00         7.63     F
160    7.5    0   0.0   0.0   0.00   0.00         3.00     F
161    0.0    0   0.0   0.0   0.00   0.00         0.00     F
162    0.0    0   0.0   0.0   0.00   0.00         0.00     F

[163 rows x 8 columns]

In [6]:
le=LabelEncoder()

df['Grade']=le.fit_transform(df['Grade'])